{% extends "bootstrap/base.html" %}
{% import "wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block content %}
<div class="container">
  <h1 class="section-title">
    {% block title %}
     {% if beta %}
     Preklopenie prihlášky #{{ id }} do AIS2 (beta)
     {% else %}
     Preklopenie prihlášky #{{ id }} do AIS2
     {% endif %}
    {% endblock title %}
  </h1>
  {% if process_type == 'fill'%}
  <h3>Aktualizovanie dát v AIS2 údajmi z prihlášky</h3>
  {% elif process_type == 'no_fill' %}
  <h3>Vyplniť prihlášku bez párovania s osobou</h3>
  {% endif %}

  <div class="container">
    {% if form %}
        {{ wtf.quick_form(form,
                          form_type='horizontal',
                          button_map={'submit': 'primary'}) }}

    <p>Prosíme o strpenie a nezatváranie prehliadača: preklápanie prihlášky
      môže trvať aj niekolko minút.</p>
    {% else %}
    <div class="well well-lg">
      <strong>AIS2 výstup:</strong> <br /><br />
      {{ ais2_output|safe }}

      {% if notes['email_exists'] or notes['app_id_exists'] or notes['person_exists'] %}
      <br /><br />
      <strong>Poznámky zo spracovania prihlášky:</strong>
      <ul>
        {% if notes['email_exists'] %}
        <li>
          V systéme AIS2 už existuje osoba so zadaným
          emailom ({{ notes['email_exists'] }}). Do preklopenej
          prihlášky preto tento email nebol vložený, nakoľko by
          AIS2 takúto prihlášku neakceptoval.
        </li>
        {% endif  %}

        {% if notes['app_id_exists'] %}
        <li>
          V systéme AIS2 už existuje prihláška so
          zadaným evidenčným číslom ({{ notes['app_id_exists'] }}).
          Proces preklápania preto nechal vygenerovať
          tejto prihláške nové evidenčné číslo.
        </li>
        {% endif  %}

      </ul>

        {% if notes['person_exists'] %}
        <table class="table">
          <th>
            <td><strong>AIS2</strong></td>
            <td><strong>Prihláška</strong></td>
          </th>
          <tr>
            <td><strong>Meno</strong></td>
            <td>{{ notes['person_exists']['name'] }}</td>
            <td>{{ session['basic_personal_data']['name'] }}</td>
          </tr>
          <tr>
            <td><strong>Priezvisko</strong></td>
            <td>{{ notes['person_exists']['surname'] }}</td>
            <td>{{ session['basic_personal_data']['surname'] }}</td>
          </tr>
          <tr>
            <td><strong>Dátum narodenia</strong></td>
            <td>{{ notes['person_exists']['date_of_birth'] }}</td>
            <td>{{ session['date_of_birth'] }}</td>
          </tr>
          <tr>
            <td><strong>Miesto narodenia</strong></td>
            <td>{{ notes['person_exists']['place_of_birth'] }}</td>
            <td>{{ lists['city'][session['place_of_birth']] }}</td>
          </tr>
          <tr>
            <td><strong>Telefon</strong></td>
            <td>{{ notes['person_exists']['phone'] }}</td>
            <td>{{ session['phone'] }}</td>
          </tr>
          <tr>
            <td><strong>Email</strong></td>
            <td>{{ notes['person_exists']['email'] }}</td>
            <td>{{ session['email'] }}</td>
          </tr>

        </table>

        <div class="well well-lg  text-center">
          <strong>Osoba s rodným číslom už existuje. </strong> <br />

          Ak zvolíte <em>"Pokračovať s údajmi z prihlášky"</em>, budú jej osobné údaje aktualizované údajmi z
          prihlášky. <br />

          Ak zvolíte <em>"Pokračovať s údajmi z AIS2"</em>, budú osobné údaje
          v AIS2 ponechané bez zmeny. <br />


          Ak zvolíte "zrušiť", nebude možné prihlášku preklopiť
          automaticky a je potrebné ju zadať do AIS2 manuálne

        </div>

        <div class="row">
          <div class="col-md-4">
            <a class="btn" href="{{ url_for('admin_list') }}#printed">
              Zrušiť (naspäť na listing)
            </a>
          </div>
          <div class="col-md-4">
            {% if beta %}
            <a class="btn" href="{{ url_for('admin_process_special', id=id, process_type='no_fill') }}">
            {% else %}
            <a class="btn" href="{{ url_for('admin_ais2_process_special', id=id, process_type='no_fill') }}">
            {% endif %}
              Pokračovať s údajmi z AIS2
            </a>
          </div>

          <div class="col-md-4">
            {% if beta %}
            <a class="btn" href="{{ url_for('admin_process_special', id=id, process_type='fill') }}">
            {% else %}
            <a class="btn" href="{{ url_for('admin_ais2_process_special', id=id, process_type='fill') }}">
            {% endif %}
              Pokračovať s údajmi z prihlášky
            </a>
          </div>

        </div>
        {% endif  %}

      {% endif  %}
    </div>

      {% if error_output %}
      <div class="well well-lg bg-danger">
        <strong>Prihlášku sa nepodarilo preklopiť. Náš chybový výstup:</strong> <br />
        <pre>
{{ error_output }}
        </pre>

        <a class="btn" href="">Skúsiť znova</a>
        <a class="btn" href="{{ url_for('admin_list') }}#printed">
          Zrušiť (naspäť na listing)
        </a>

      </div>
      {% elif not notes['person_exists']  %}
      <div class="well well-lg alert alert-success text-center">
        <strong>Prihlášku sa podarilo preklopiť!</strong> <br />
        <a class="btn" href="{{ url_for('admin_list') }}#printed">
          Naspäť na listing
        </a>
      </div>
      {% endif %}
    {% endif %}
  </div>
</div>


{% endblock %}

