{% extends "index.html" %}

{% set section_title = 'Informácie potrebné pre prijímacie konanie' %}

{% block form %}
<p>

<!--Uchádzači budú prijímaní na bakalárske štúdium na základe výsledkov dosiahnutých na strednej škole. Pokiaľ uchádzač nespĺňa iné podmienky garantujúce prijatie na príslušný študijný program, prijímacie skúšky sú nahradené výsledkom z autorizovanej skúšky z matematiky (externá časť maturitnej skúšky z matematiky, didaktický test z matematiky v ČR, test z matematiky realizovaný nezávislým posudzovateľom napr. SCIO). Podrobné podmienky prijímacieho konania nájdete na stránke
<a href="https://fmph.uniba.sk/prihlasky/" target="_blank">https://fmph.uniba.sk/prihlasky/</a>
-->

</p>

  {{ wtf.quick_form(form,
                    form_type='horizontal',
                    button_map={'submit': 'primary'}) }}
{% endblock %}

{% block inlinescript %}
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        install_form_change_trigger();
      });
    </script>
{% endblock %}
