{% extends "bootstrap/base.html" %}
{% import "wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% macro generate_apps_table(apps, name, title) %}
      <tr>
        <th id="{{ name }}" colspan="8" scope="colgroup" class="text-center admin-thead">
          {{ title }}
        </th>
      </tr>
      {% for app in apps %}
      <tr>
        <td>{{ app.id }}</td>
        <td>{{ app['app']['email'] }}</td>
        <td>{{ app['app']['basic_personal_data']['name'] }}</td>
        <td>{{ app['app']['basic_personal_data']['surname'] }}</td>
        <td>{{  ', '.join(app['app']['study_programme']) }}</td>
        <td>{{ app['app']['basic_personal_data']['matura_year'] }}</td>
        <td>
          {% if 'last_change_at' in app['app'] %}
          {{ app['app']['last_change_by'] }} <small>({{ app['app']['last_change_at'] }})</small>
          {% endif %}
        </td>
        <td>
          <div class="btn-group">
            <a target="_blank" class="btn btn-xs btn-default" href="{{ url_for('admin_view', id=app.id) }}">Pozrieť</a>
            <a target="_blank" class="btn btn-xs btn-default app-print" href="{{ url_for('admin_print', id=app.id) }}">Vytlačiť</a>
            {% if app.state.value > 0 %}
            <a class="btn btn-xs btn-default" href="{{ url_for('admin_reset', id=app.id) }}">Zresetovať</a>
            {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
{% endmacro %}

{% block content %}
<div class="container">
  <h1 class="section-title">
    {% block title %}Zoznam registrovaných prihlášok{% endblock title %}
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a href="#submitted"><strong>Podané prihlášky</strong></a>:
        {{ submitted|length }}
      </div>

      <div class="col-lg-3">
        <a href="#printed"><strong>Vytlačené prihlášky</strong></a>:
        {{ printed|length }}
      </div>

      <div class="col-lg-3">
        <a href="#in_progress"><strong>Rozpracované prihlášky</strong></a>:
        {{ in_progress|length }}
      </div>

      <div class="col-lg-3">
        <a href="#processed"><strong>Spracované prihlášky</strong></a>:
        {{ processed|length }}
      </div>
    </div>

   <table class="table table-hover admin-table">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Email</th>
        <th>Meno</th>
        <th>Priezvisko</th>
        <th>Študjné programy</th>
        <th>Rok maturity</th>
        <th>Autor poslednej zmeny</th>
        <th>Vykonateľné akcie</th>
      </tr>
		</thead>
    <tbody>
    {{ generate_apps_table(submitted, "submitted", "Podané prihlášky") }}
    {{ generate_apps_table(printed, "printed", "Vytlačené prihlášky") }}
    {{ generate_apps_table(in_progress, "in_progress", "Rozpracované prihlášky") }}
    {{ generate_apps_table(processed, "processed", "Spracované prihlášky") }}

    </tbody>
  </table>
  </div>
</div>



{% endblock %}


{% block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
<script>
  $(document).ready(function(){
    $('.app-print').click(function(e){
      e.preventDefault();

      window.open($(this).attr('href'), '_blank');

      location.reload();
    });
  });
</script>

<style>
  .admin-thead {
    padding: 20px 0;
  }
  .admin-table {
    margiN: 20px 0;
  }
</style>
{% endblock %}

