{% extends "bootstrap/base.html" %}
{% import "wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% macro generate_apps_table(apps) %}
      {% for app in apps %}
      <tr>
        <td>{{ app.id }}</td>
        <td>{{ app['app']['email'] }}</td>
        <td>{{ app['app']['basic_personal_data']['name'] }}</td>
        <td>{{ app['app']['basic_personal_data']['surname'] }}</td>
        <td>{{  ', '.join(app['app']['study_programme']) }}</td>
        <td>{{ app['app']['basic_personal_data']['matura_year'] }}</td>
        <td>
          {% if 'last_change_at' in app['app'] %}
          {{ app['app']['last_change_by'] }} <small>({{ app['app']['last_change_at'] }})</small>
          {% endif %}
        </td>
        <td>
          <div class="btn-group">
            <a target="_blank" class="btn btn-xs btn-default" href="{{ url_for('admin_view', id=app.id) }}">Pozrieť</a>
            <a target="_blank" class="btn btn-xs btn-default app-print" href="{{ url_for('admin_print', id=app.id) }}">Vytlačiť</a>
            {% if app.state.value > 0 %}
            <a class="btn btn-xs btn-default" href="{{ url_for('admin_reset', id=app.id) }}">Zresetovať</a>
            {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
{% endmacro %}

{% block content %}
<div class="container">
  <h1 class="section-title">
    {% block title %}Zoznam registrovaných prihlášok{% endblock title %}
  </h1>

  <div class="row">
    <div class="col-lg-3">
      <a href="#submitted"><strong>Podané prihlášky</strong></a>:
      {{ submitted|length }}
    </div>

    <div class="col-lg-3">
      <a href="#printed"><strong>Vytlačené prihlášky</strong></a>:
      {{ printed|length }}
    </div>

    <div class="col-lg-3">
      <a href="#in_progress"><strong>Rozpracované prihlášky</strong></a>:
      {{ in_progress|length }}
    </div>

    <div class="col-lg-3">
      <a href="#processed"><strong>Spracované prihlášky</strong></a>:
      {{ processed|length }}
    </div>

  </div>

  <div class="container">
   <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Email</th>
        <th>Meno</th>
        <th>Priezvisko</th>
        <th>Študjné programy</th>
        <th>Rok maturity</th>
        <th>Autor poslednej zmeny</th>
        <th>Vykonateľné akcie</th>
      </tr>
		</thead>
    <tbody>
      <tr>
        <th id="submitted" colspan="8" scope="colgroup" >Podané prihlášky</th>
      </tr>
    {{ generate_apps_table(submitted) }}

      <tr>
        <th id="printed" colspan="8" scope="colgroup" >Vytlačené prihlášky</th>
      </tr>
    {{ generate_apps_table(printed) }}
      <tr>
        <th id="in_progress" colspan="8" scope="colgroup" >Rozpracované prihlášky</th>
      </tr>
    {{ generate_apps_table(in_progress) }}
    <tr>
        <th id="processed" colspan="8" scope="colgroup" >Spracované prihlášky</th>
      </tr>
    {{ generate_apps_table(processed) }}

    </tbody>
  </table>
  </div>
</div>



{% endblock %}


{% block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
<script>
  $(document).ready(function(){
    $('.app-print').click(function(e){
      e.preventDefault();

      window.open($(this).attr('href'), '_blank');

      location.reload();
    });
  });
</script>
{% endblock %}

