{% extends "bootstrap/base.html" %}
{% import "wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

 {% block metas %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
 {% endblock %}


{% block content %}
<div class="container">
  <h1 class="section-title">{% block title %}Prihláška na vysokoškolské štúdium{% endblock title %}</h1>
  <h3>bakalárske štúdium - prvý stupeň</h3>

  <div class="panel panel-default">
    <div class="panel-heading">Údaje o prihláške</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-4 text-center" style="float: right;">
          <img src="{{ url_for('static', filename='img/fmfi-logo.jpg', _external=True) }}" style="height: 150px; width: 150px" alt=""/>
        </div>
        <div class="col-lg-8">
          <strong>Univerzita:</strong> Univerzita Komenského v Bratislave <br />
          <strong>Fakulta:</strong> Fakulta matematiky, fyziky a informatiky  <br />
          <strong>Akademický rok:</strong> 2018/2019 <br />
          <strong>Evidenčné číslo prihlášky:</strong> eprih-2018-{{ id }} <br />
          {% if not (session['basic_personal_data']['dean_invitation_letter'] and session['basic_personal_data']['dean_invitation_letter_no']) %}
           <hr>
           Poplatok za prijímacie konanie vo výške 33 EUR je potrebné uhradiť na účet: <br>
           číslo <strong>SK88 8180 0000 0070 0013 8327</strong> <br>
           variabilný symbol: <strong>800</strong> <br>
           {% if session['birth_no'] %}
           špecifický symbol: <strong>{{ session['birth_no']|replace("/", "") }}</strong> <br>
           {% else %}
           špecifický symbol: <strong>{{ specific_symbol }}</strong> <br>
           {% endif %}
          {% endif %}
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-sm-12">
          {% if session['application_submitted'] %}
          <strong>Stav prihlášky: </strong> podaná <br />
          <strong>Dátum podania:</strong> {{ submitted_at.strftime('%d.%m.%Y') }} <br />
          {% else %}
          <strong>Stav prihlášky: </strong> nepodaná <br />
          {% endif %}

          {% if print %}
          Úradné záznamy: <br />
<pre>
[ ] ListD [ ] MatM [ ] MatF [ ] MatI [ ] MatB [ ] MatCh
[ ] OlymF [ ] OlymM [ ] OlymI [ ] OlymB [ ] OlymCh
[ ] SočMF [ ] SočI [ ] SočB [ ] SočCh [ ] TMF
[ ] Platba prijatá / skontrolovaná
</pre>
          {% endif %}
        </div>
      </div>

    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">Študijné programy</div>
    <div class="panel-body">
      <div class="row">
        <ol>
          {% for sp in session['study_programme'] %}
            {% if sp != '_' %}
          <li>{{ lists['study_programme'][sp] }}</li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">Údaje o študentovi</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4"> <strong>Meno:</strong> {{ session['basic_personal_data']['name'] }}</div>
        <div class="col-sm-4"><strong>Priezvisko:</strong> {{ session['basic_personal_data']['surname'] }}</div>
        <div class="col-sm-4"><strong>Rodinný stav:</strong> {{ lists['marital_status'][session['marital_status']] }}</div>
      </div>
       <div class="row">
         <div class="col-sm-8"><strong>Rodné priezvisko:</strong> {{ session['basic_personal_data']['born_with_surname'] }}</div>
         <div class="col-sm-4"><strong>Pohlavie:</strong> {{ lists['sex'][session['sex']] }}</div>
       </div>

       <hr>

       <div class="row">
         <div class="col-sm-4"><strong>Dátum narodenia:</strong> {{ session['date_of_birth'] }}</div>
         <div class="col-sm-8"><strong>Rodné číslo:</strong> {{ session['birth_no'] }}</div>
       </div>

       <div class="row">

          {% if session['country_of_birth'] == '703' %}
         <div class="col-sm-4"><strong>Miesto narodenia:</strong> {{ lists['city'][session['place_of_birth']] }}</div>
         {% else %}
         <div class="col-sm-4"><strong>Miesto (v zahraničí):</strong> {{ session['place_of_birth_foreign'] }}</div>
         {% endif %}
         <div class="col-sm-4"><strong>Štát:</strong> {{ lists['country'][session['country_of_birth']] }}</div>
         <div class="col-sm-4"><strong>Štátne občianstvo:</strong> {{ lists['country'][session['nationality']] }}</div>
       </div>

       <div class="row">
         <div class="col-sm-4"><strong>Telefón:</strong> {{ session['phone'] }}</div>
         <div class="col-sm-8"><strong>Email:</strong> {{ session['email'] }}</div>
       </div>

       <hr>

       <div class="row">
         <div class="col-sm-4">
           <strong>Matka:</strong> <small>(meno a priezvisko)&nbsp;&nbsp;</small>
           {{ session['mother_name']['name'] }} {{ session['mother_name']['surname'] }}
         </div>
         <div class="col-sm-8">
           <small>(rodné priezvisko)&nbsp;&nbsp;</small> {{ session['mother_name']['born_with_surname'] }}
         </div>
       </div>

       <div class="row">
         <div class="col-sm-4">
           <strong>Otec:</strong> <small>(meno a priezvisko)&nbsp;&nbsp;</small>
           {{ session['father_name']['name'] }} {{ session['father_name']['surname'] }}
         </div>
         <div class="col-sm-8">
           <small>(rodné priezvisko)&nbsp;&nbsp;</small>{{ session['father_name']['born_with_surname'] }}
         </div>

       </div>


    </div>
  </div>

  <div class="panel panel-default" >
    <div class="panel-heading">Adresa trvalého bydliska</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <strong>Ulica a číslo:</strong> {{ session['address_form']['street'] }} {{ session['address_form']['street_no'] }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {% if session['address_form']['country'] == '703' %}
          <strong>Mesto (obec):</strong>  {{ lists['city'][session['address_form']['city']] }}
          {% else %}
          <strong>Mesto (v zahraničí):</strong>  {{ session['address_form']['city_foreign'] }}
          {% endif %}
        </div>
        <div class="col-sm-6">
          <strong>PSČ:</strong>  {{ session['address_form']['postal_no'] }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <strong>Štát:</strong> {{ lists['country'][session['address_form']['country']] }}
        </div>
      </div>
    </div>
  </div>

  {% if session['has_correspondence_address'] %}
  <div class="panel panel-default" >
    <div class="panel-heading">Korešpondenčná adresa:</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <strong>Ulica a číslo:</strong> {{ session['correspondence_address']['street'] }} {{ session['correspondence_address']['street_no'] }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {% if session['correspondence_address']['country'] == '703' %}
          <strong>Mesto:</strong>  {{ lists['city'][session['correspondence_address']['city']] }}
          {% else %}
          <strong>Mesto (v zahraničí):</strong>  {{ session['correspondence_address']['city_foreign'] }}
          {% endif %}
        </div>
        <div class="col-sm-6">
          <strong>PSČ:</strong>  {{ session['correspondence_address']['postal_no'] }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <strong>Štát:</strong> {{ lists['country'][session['correspondence_address']['country']] }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="panel panel-default" >
    <div class="panel-heading">Stredná škola</div>
    <div class="panel-body">

      {% if session['has_previously_studied'] %}
      <div class="row">
        <div class="col-sm-12">
         <input type="checkbox" name="" id="" checked /> V minulosti som študovala/študoval na vysokej škole v SR v I. stupni štúdia
          alebo v spojenom I. a II. stupni štúdia (úspešne alebo neúspešne).
        </div>
      </div>
      <hr>
      {% endif %}

      {% if session['finished_highschool_check'] == 'SK' %}
      <div class="row">
        <div class="col-sm-12">
          <em>Stredná škola absolvovaná v Slovenskej republike</em>
       </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <strong>Navštevovaná stredná škola:</strong>  {{ lists['highschool'][session['studies_in_sr']['highschool']] }}
        </div>
        <div class="col-sm-4">
          <strong>Rok maturitnej skúšky:</strong>  {{ session['basic_personal_data']['matura_year'] }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <strong>Študijný odbor</strong>  {{ lists['hs_study_programme'][session['studies_in_sr']['study_programme_code']] }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <strong>Dosiahnuté / očakávané stredoškolské vzdelanie:</strong> {{ lists['education_level'][session['studies_in_sr']['education_level']] }}
        </div>
      </div>

      {% else %}
      <div class="row">
        <div class="col-sm-12">
          <em>Stredná škola absolvovaná mimo Slovenskej republiky</em>
       </div>

        <div class="col-sm-12">
          <strong>Rok maturitnej skúšky:</strong>  {{ session['basic_personal_data']['matura_year'] }}
        </div>
      </div>
      {% endif %}

    </div>
  </div>

{% if session['grades_mat'] or session['grades_fyz'] or session['grades_bio']  %}
  <div class="panel panel-default">
    <div class="panel-heading">Známky poskytnuté ako súčasť prihlášky</div>
    <div class="panel-body">
      {% include "grade_listing_table.html" %}
    </div>
  </div>

{% endif %}

{% macro further_study_field(name, label) %}
  {% if 'further_study_info' in session and session['further_study_info'][name] %}
  <strong>
    {{ label }}:
  </strong>
  {{ session['further_study_info'][name] }} <br />
  {% endif %}
{% endmacro %}

{% macro further_study_check_field(name, label) %}
  {% if 'further_study_info' in session and session['further_study_info'][name] %}
  <input type="checkbox" name="" id="" checked /> {{ label }} <br />
  {% endif %}
{% endmacro %}


  <div class="panel panel-default">
    <div class="panel-heading">
      Skutočnosti dôležité pre prijatie bez prijímacích pohovorov
    </div>
    <div class="panel-body">
      {% if session['basic_personal_data']['dean_invitation_letter'] and session['basic_personal_data']['dean_invitation_letter_no'] %}
      <input type="checkbox" name="" id="" checked /> {{ consts.DEAN_INV_LIST_YN }} <br />
      <strong>{{ consts.DEAN_INV_LIST_NO }}:</strong> {{ session['basic_personal_data']['dean_invitation_letter_no'] }}
      <hr>
      {% endif %}

      {{ further_study_field('external_matura_percentile', consts.EXTERNAL_MATURA_PERCENTILE) }}
      {{ further_study_field('scio_percentile', consts.SCIO_PERCENTILE) }}
      {{ further_study_field('scio_date', consts.SCIO_DATE) }}
      {{ further_study_field('matura_mat_grade', consts.MATURA_MAT_GRADE) }}
      {{ further_study_field('matura_fyz_grade', consts.MATURA_FYZ_GRADE) }}
      {{ further_study_field('matura_inf_grade', consts.MATURA_INF_GRADE) }}
      {{ further_study_field('matura_bio_grade', consts.MATURA_BIO_GRADE) }}
      {{ further_study_field('matura_che_grade', consts.MATURA_CHE_GRADE) }}


      {{ further_study_check_field('will_take_external_mat_matura', consts.WILL_TAKE_EXT_MAT) }}
      {{ further_study_check_field('will_take_scio', consts.WILL_TAKE_SCIO) }}
      {{ further_study_check_field('will_take_mat_matura', consts.WILL_TAKE_MAT_MATURA) }}
      {{ further_study_check_field('will_take_fyz_matura', consts.WILL_TAKE_FYZ_MATURA) }}
      {{ further_study_check_field('will_take_inf_matura', consts.WILL_TAKE_INF_MATURA) }}
      {{ further_study_check_field('will_take_che_matura', consts.WILL_TAKE_CHE_MATURA) }}
      {{ further_study_check_field('will_take_bio_matura', consts.WILL_TAKE_BIO_MATURA) }}

      {% for s in ['competition_1', 'competition_2', 'competition_3'] %}
        {% if s in session and session[s]['competition'] != '_' %}
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <strong>{{ consts.COMPETITION_NAME }}:</strong> {{ lists['competition'][session[s]['competition']] }}
        </div>
        <div class="col-sm-2">
          <strong>{{ consts.COMPETITION_YEAR }}:</strong> {{ session[s]['year'] }}
        </div>
        <div class="col-sm-6">
          <strong>{{ consts.COMPETITION_FURTHER_INFO }}:</strong> {{ session[s]['further_info'] }}
        </div>
      </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>


</div>

<style>
@media print {
    [class*="col-md"], [class*="col-sm"], [class*="col-xs"] {
        float: none;
    }
}
</style>

{% if print %}

<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script>
  $(document).ready(function(){
    window.print();
  })
</script>

{% endif %}

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
