{% extends "index.html" %}

{% set section_title = 'Záverečné pokyny' %}

{% block form %}

{% if not session['application_submitted'] %}

{% if not session['address_form']['street'] %}
<div class="alert alert-warning fade in">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  Neuviedli ste adresu trvalého bydliska. Nekompletné prihlášky nebudú môcť byť
  akceptované. Pridať adresu je možné
  <a class="alert-link" href="{{ url_for('address') }}">v časti Adresa</a>.
</div>
{% endif %}

{% if not session['birth_no'] %}
<div class="alert alert-warning fade in">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  Neuviedli ste rodné číslo. Rodné číslo je potrebné uviesť, ak vám bolo
  pridelené. Pridať rodné číslo je možné
  <a class="alert-link" href="{{ url_for('personal_info') }}">
    v časti Osobné informácie
  </a>.
</div>
{% endif %}

{% if not hs_sp_check %}
<div class="alert alert-warning fade in">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  Vaša kombinácia navštevovanej strednej školy a študijného odboru nebola
  nájdená v našej databáze. Zmeniť navštevovanú strednú školu alebo študijný
  odbor môžete
  <a class="alert-link" href="{{ url_for('previous_studies') }}">
    v časti Predchádzajúce štúdium
  </a>.
</div>
{% endif %}

{% if not hs_ed_level_check %}
<div class="alert alert-warning fade in">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  Vaše dosiahnuté / očakávané stredoškolské vzdelanie nekorešponduje s vami
  zadaným kódom študijného odboru. Zmeniť Vaše dosiahnuté / očakávané
  stredoškolské vzdelanie alebo študijný odbor môžete
  <a class="alert-link" href="{{ url_for('previous_studies') }}">
    v časti Predchádzajúce štúdium
  </a>.
</div>
{% endif %}

<h3>Podanie prihlášky</h3>

<p>
Ďakujeme za vyplnenie údajov. Pomocou nasledujúcej linky si skontrolujte , že
všetky údaje boli vyplnené správne: <a href="{{ url_for('application_form') }}" target="_blank">Formulár elektronickej prihlášky (PDF)</a>.
</p>

<p>
  Podaním prihlášky potvrdzujete, že ste si vyplnené úlohy skontrolovali, že
  všetky uvedené údaje sú pravdivé a že ste nezamlčali nijaké závažné
  skutočnosti.
</p>

<p>
  (Po podaní prihlášky už nie je možné údaje v nej uvedené meniť.)
</p>

  {{ wtf.quick_form(form,
                    form_type='horizontal',
                    button_map={'submit': 'primary'}) }}

{% else %}

<h3>Stav prihlášky</h3>

<p>
Vaša elektronická prihláška bola podaná. V prípade, že ste prihlášku podali
omylom alebo je nevyhnutné zmeniť údaje v prihláške, kontaktujte prosím
študijné oddelenie FMFI UK
</p>

<p>
Študijné oddelenie <br />
e-mail: <a href="mailto:prijimacky@fmph.uniba.sk">prijimacky@fmph.uniba.sk</a> <br />
telefón: 02/602 95 152, 02/602 95 480
</p>

<p>
  Vaša prihláška je v stave: <strong>{{ app_state }}</strong>
</p>

<br>
<strong>
  <a href="{{ url_for('application_form') }}" target="_blank">Formulár elektronickej prihlášky (PDF)</a>
</strong>

{% if not (session['basic_personal_data']['dean_invitation_letter'] and session['basic_personal_data']['dean_invitation_letter_no']) %}

<h3>Poplatok</h3>

Poplatok za prijímacie konanie vo výške 15 EUR je potrebné uhradiť <strong>do 3 dní</strong> na účet: <br>
IBAN <strong>SK88 8180 0000 0070 0013 8327</strong> SWIFT: <strong>SPSRSKBA</strong> <br>
variabilný symbol: <strong>800</strong> <br>
{% if session['birth_no'] %}
špecifický symbol: <strong>{{ session['birth_no']|replace("/", "") }}</strong> <br>
{% else %}
špecifický symbol: <strong>{{ specific_symbol }}</strong> <br>
{% endif %}

<p>Ďalšie údaje pre platby zo zahraničia:<br>
  Názov účtu: Univerzita Komenského v Bratislave<br>
  Adresa banky: Všeobecná úverová banka,
  Mlynské Nivy 1,
  829 90 Bratislava
  

<p>

<!--Potvrdenie o zaplatení si odložte pre prípad, že by sa vyskytol problém pri
spárovaní vašej platby s prihláškou.-->
Potvrdenie o zaplatení <b>nám pošlite spolu s maturitným vysvedčením.</b>

<br>
<br>

{% if not session['receipt_filename'] %}

Pre rýchlejšie spracovanie Vašej prihlášky tiež môžete potvrdenie v digitálnej
forme priložiť použitím nasledujúceho formulára:

<br>
<br>
<br>

  {% if receipt_form %}
    {{ wtf.quick_form(receipt_form,
                      form_type='horizontal',
                      button_map={'submit': 'primary'}) }}


  {% endif %}
{% else %}
Odovzdané potvrdenie o zaplatení si môžete skontrolovať na nasledujúcej linke:
<strong><a href="{{ url_for('payment_receipt') }}">odovzdané potvrdenie</a></strong>.
{% endif %}

{% endif %}

<h3>Overená kópia maturitného vysvedčenia</h3>
{% if session['basic_personal_data']['matura_year'] == consts.CURRENT_MATURA_YEAR %}

<p>
Po skončení maturity nám bezodkladne pošlite overenú kópiu maturitného
vysvedčenia na adresu: <br> <br>

{% else %}
<p>
<b>Obratom</b> nám, prosím, pošlite poštou overenú kópiu Vášho maturitného vysvedčenia na adresu:
<br /><br />
{% endif %}

<em>
Fakulta matematiky, fyziky a informatiky UK, <br />
Študijné oddelenie, <br>
Mlynská dolina, <br>
842 48 Bratislava
</em>
</p>

{% if grades_filled  %}

<h3>Výpis vybraných známok</h3>

<p>
Obratom nám, prosím, pošlite poštou potvrdený <strong><a target="_blank" href="{{ url_for('grades_control') }}">formulár s výpisom známok</a></strong>
alebo overené kópie príslušných koncoročných vysvedčení na adresu:<br />
</p>

<p>
<em>
Fakulta matematiky, fyziky a informatiky UK, <br />
Študijné oddelenie, <br>
Mlynská dolina, <br>
842 48 Bratislava
</em>
</p>

{% endif %}


<h3> Priložené dokumenty </h3>

{% if 'uploaded_files' in session %}
<ul>
  {% for file in session['uploaded_files'] %}
  <li> <a href="{{ url_for('file_download', uuid=file['uuid']) }}"> {{ file['file'] }} </a>
    <a class='btn' href="{{ url_for('file_delete', uuid=file['uuid']) }}"> zmazať </a>
  {% endfor %}
</ul>
{% endif %}

<form method=POST enctype=multipart/form-data action="{{ url_for('file_upload') }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  Priložiť nový dokument:
  <select name="uploaded_document_type">
  {% for doc in consts.DOCUMENTS_TO_UPLOAD %}
    <option value="{{ loop.index0 }}">{{ doc }}</option>
  {% endfor %}
  </select>
  <input type=file name=file> <br />
  <input type="submit" />
</form>



<h3>Čo ďalej?</h3>

<p>

O ďalšom postupe vás budeme včas informovať písomne listom
na adresu, ktorú ste uviedli v tejto prihláške. V prípade akýchkoľvek otázok
nás prosím kontaktujte
</p>

<p>
Študijné oddelenie <br />
e-mail: <a href="mailto:prijimacky@fmph.uniba.sk">prijimacky@fmph.uniba.sk</a> <br />
telefón: 02/602 95 152, 02/602 95 480
</p>

{% endif %}
{% endblock %}
