{% extends "index.html" %}

{% set section_title = 'Záverečné pokyny' %}

{% block form %}

{% if not (session['study_programme_data']['dean_invitation_letter'] and session['study_programme_data']['dean_invitation_letter_no']) %}

<h3>Poplatok</h3>

Poplatok za prijímacie konanie vo výške 33 EUR je potrebné uhradiť na účet: <br>
číslo <strong>SK88 8180 0000 0070 0013 8327</strong> <br>
variabilný symbol: <strong>800</strong> <br>
{% if session['birth_no'] %}
špecifický symbol: <strong>{{ session['birth_no']|replace("/", "") }}</strong> <br>
{% else %}
špecifický symbol: <strong>9999</strong> <br>
{% endif %}

<br>
Potvrdenie o zaplatení si odložte pre
prípad, že by sa vyskytol problém pri spárovaní vašej platby
s prihláškou.

{% endif %}

<h3>Overená kópia maturitného vysvedčenia</h3>
{% if session['study_programme_data']['matura_year'] == 2018 %}

<p>
Po skončení maturity nám bezodkladne pošlite overenú kópiu maturitného
vysvedčenia, aby sme mohli vyhodnotiť splnenie podmienok pre prípadné prijatie
bez prijímacieho konania. Kópiu maturitného vysvedčenia pošlite na adresu: <br> <br>

<em>
Fakulta matematiky, fyziky a informatiky UK, <br />
Mlynská dolina, <br>
842 48 Bratislava
</em>
</p>

{% else %}
<p>
Najneskôr do 14 dní nám pošlite poštou overenú kópiu Vášho maturitného vysvedčenia na adresu:
<br /><br />

<em>
Fakulta matematiky, fyziky a informatiky UK, <br />
Mlynská dolina, <br>
842 48 Bratislava
</em>
</p>

{% endif %}

{% if session['grades_mat']['grade_first_year'] or session['grades_fyz']['grade_first_year'] or session['grades_bio']['grade_first_year']  %}

<h3>Výpis vybraných známok</h3>

<p>
Najneskôr do 14 dní nám pošlite poštou potvrdený formulár s výpisom známok
alebo overené kópie príslušných koncoročných vysvedčení na adresu:<br />
</p>

<p>
<em>
Fakulta matematiky, fyziky a informatiky UK, <br />
Mlynská dolina, <br>
842 48 Bratislava
</em>
</p>

<p>
Samotný formulár môžete nájsť na nasledujúcom linku: <strong><a target="_blank" href="{{ url_for('grades_control') }}">Výpis vybraných známok</a></strong>
</p>

{% endif %}



<h3>Čo ďalej?</h3>

<p>

O ďalšom postupe prijímacieho konania (predbežné alebo podmienečné rozhodnutie
o prijatí, pozvánka na prijímacie pohovory, rozhodnutie o neprijatí a pod.) vás
budeme včas informovať písomne listom na adresu, ktorú ste uviedli v tejto
prihláške. V prípade akýchkoľvek otázok nás prosím kontaktujte
</p>

<p>
e-mail: <a href="mailto:so@fmph.uniba.sk">so@fmph.uniba.sk</a> <br />
telefón 02/602 95 152
</p>





{% endblock %}
