{% extends "index.html" %}

{% set section_title = 'Záverečné pokyny' %}

{% block form %}

{% if not session['application_submitted'] %}

{% if not session['address_form']['street'] %}
<p class="bg-warning">
  Neuviedli ste adresu trvalého bydliska. Nekompletné prihlášky nebudú môcť byť
  akceptované. Pridať adresu je možné <a href="{{ url_for('address') }}">v časti Adresa</a>.
</p>
{% endif %}

{% if not session['birth_no'] %}
<p class="bg-warning">
  Neuviedli ste rodné číslo. Rodné číslo je potrebné uviesť, ak vám bolo
  pridelené. Pridať rodné číslo je možné
  <a href="{{ url_for('personal_info') }}">v časti Osobné informácie</a>.
</p>
{% endif %}

<h3>Podanie prihlášky</h3>

<p>
Ďakujeme za vyplnenie údajov. Pomocou nasledujúcej linky si skontrolujte , že
všetky údaje boli vyplnené správne: <a href="{{ url_for('application_form') }}" target="_blank">Formulár elektronickej prihlášky (PDF)</a>.
</p>

<p>
Podaním prihlášky potvrdzujete správnosť vyplnených údajov. Po podaní prihlášky
už nie je možné údaje modifikovať.
</p>

<a href="{{ url_for('submit_app') }}" class="btn btn-red btn-info" role="button">PODAŤ PRIHLÁŠKU</a>

{% else %}

<h3>Stav prihlášky</h3>

<p>
Vaša elektronická prihláška bola podaná. V prípade, že ste prihlášku podali
omylom alebo je nevyhnutné zmeniť údaje v prihláške, kontaktujte prosím
študijné oddelenie FMFI UK
</p>

<p>
e-mail: <a href="mailto:so@fmph.uniba.sk">so@fmph.uniba.sk</a> <br />
telefón 02/602 95 152
</p>

<p>
{% if not session['application_processed'] %}
Vaša prihláška je v stave: <strong>podaná</strong>
{% else %}
Vaša prihláška je v stave: <strong>spracovaná</strong>
{% endif %}
</p>

<br>
<strong>
  <a href="{{ url_for('application_form') }}" target="_blank">Formulár elektronickej prihlášky (PDF)</a>
</strong>

{% if not (session['basic_personal_data']['dean_invitation_letter'] and session['basic_personal_data']['dean_invitation_letter_no']) %}

<h3>Poplatok</h3>

Poplatok za prijímacie konanie vo výške 33 EUR je potrebné uhradiť na účet: <br>
číslo <strong>SK88 8180 0000 0070 0013 8327</strong> <br>
variabilný symbol: <strong>800</strong> <br>
{% if session['birth_no'] %}
špecifický symbol: <strong>{{ session['birth_no']|replace("/", "") }}</strong> <br>
{% else %}
špecifický symbol: <strong>{{ specific_symbol }}</strong> <br>
{% endif %}

<br>
Potvrdenie o zaplatení si odložte pre
prípad, že by sa vyskytol problém pri spárovaní vašej platby
s prihláškou.

{% endif %}

<h3>Overená kópia maturitného vysvedčenia</h3>
{% if session['basic_personal_data']['matura_year'] == 2018 %}

<p>
Po skončení maturity nám bezodkladne pošlite overenú kópiu maturitného
vysvedčenia, aby sme mohli vyhodnotiť splnenie podmienok pre prípadné prijatie
bez prijímacieho konania. Kópiu maturitného vysvedčenia pošlite na adresu: <br> <br>

<em>
Fakulta matematiky, fyziky a informatiky UK, <br />
Mlynská dolina, <br>
842 48 Bratislava
</em>
</p>

{% else %}
<p>
Najneskôr do 14 dní nám pošlite poštou overenú kópiu Vášho maturitného vysvedčenia na adresu:
<br /><br />

<em>
Fakulta matematiky, fyziky a informatiky UK, <br />
Mlynská dolina, <br>
842 48 Bratislava
</em>
</p>

{% endif %}

{% if session['grades_mat'] or session['grades_fyz'] or session['grades_bio']  %}

<h3>Výpis vybraných známok</h3>

<p>
Najneskôr do 14 dní nám pošlite poštou potvrdený <strong><a target="_blank" href="{{ url_for('grades_control') }}">formulár s výpisom známok</a></strong>
alebo overené kópie príslušných koncoročných vysvedčení na adresu:<br />
</p>

<p>
<em>
Fakulta matematiky, fyziky a informatiky UK, <br />
Mlynská dolina, <br>
842 48 Bratislava
</em>
</p>

{% endif %}



<h3>Čo ďalej?</h3>

<p>

O ďalšom postupe prijímacieho konania (predbežné alebo podmienečné rozhodnutie
o prijatí, pozvánka na prijímacie pohovory, rozhodnutie o neprijatí a pod.) vás
budeme včas informovať písomne listom na adresu, ktorú ste uviedli v tejto
prihláške. V prípade akýchkoľvek otázok nás prosím kontaktujte
</p>

<p>
e-mail: <a href="mailto:so@fmph.uniba.sk">so@fmph.uniba.sk</a> <br />
telefón 02/602 95 152
</p>


{% endif %}
{% endblock %}
