{% extends "index.html" %}

{% block append_title %} - Ďalšie osobné údaje {% endblock %}

{% block form %}
  {{ wtf.quick_form(form,
                    form_type='horizontal',
                    button_map={'submit': 'primary'}) }}
{% endblock %}

{% block inlinescript %}
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        $('#basic_personal_data-date_of_birth').flatpickr({dateFormat: 'd.m.Y'})
        $('#basic_personal_data-place_of_birth').chosen({search_contains: true});
      });
    </script>
{% endblock %}
