{% extends "bootstrap/base.html" %}
{% import "wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<div class="container">
  <h1 class="section-title">{% block title %}ePrihlaska - Výpis vybraných známok{% endblock title %}</h1>
  <div class="panel panel-default">
    <div class="panel-heading">Údaje o študentovi</div>
    <div class="panel-body">
      <strong>Meno:</strong> {{ session['first_personal_data']['name'] }} <br />
      <strong>Priezvisko:</strong> {{ session['first_personal_data']['surname'] }} <br />
      <strong>Rodné číslo:</strong> {{ session['birth_no'] }} <br />
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Známky poskytnuté ako súčasť prihlášky</div>
    <div class="panel-body">
      <table  class="table" cellspacing="5" cellpadding="5">
        <tr>
          <th>Predmet</th>
          <th>Známka 1. ročník / kvarta</th>
          <th>Známka 2. ročník / kvinta</th>
          <th>Známka 3. ročník / septima</th>
        </tr>

        {% if 'grades_mat' in session and 'grade_first_year' in session['grades_mat'] %}
        <tr>
          <td>Matematika</td>
          <td>{{ session['grades_mat']['grade_first_year'] }}</td>
          <td>{{ session['grades_mat']['grade_second_year'] }}</td>
          <td>{{ session['grades_mat']['grade_third_year'] }}</td>
        </tr>
        {% endif %}

        {% if 'grades_fyz' in session and 'grade_first_year' in session['grades_fyz'] %}
        <tr>
          <td>Fyzika</td>
          <td>{{ session['grades_fyz']['grade_first_year'] }}</td>
          <td>{{ session['grades_fyz']['grade_second_year'] }}</td>
          <td>{{ session['grades_fyz']['grade_third_year'] }}</td>
        </tr>
        {% endif %}


        {% if 'grades_bio' in session and 'grade_first_year' in session['grades_bio'] %}
        <tr>
          <td>Biológia</td>
          <td>{{ session['grades_bio']['grade_first_year'] }}</td>
          <td>{{ session['grades_bio']['grade_second_year'] }}</td>
          <td>{{ session['grades_bio']['grade_third_year'] }}</td>
        </tr>
        {% endif %}

      </table>
    </div>
  </div>

  <div class="panel panel-default" >
    <div class="panel-heading">Potvrdenie o správnosti údajov</div>
    <div class="panel-body">
      <table class="table" cellspacing="5" cellpadding="5">
        <tr>
          <th>Dátum:</th>
          <th>Podpis:</th>
          <th>Pečiatka školy:</th>
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>

<script>
  window.print();
</script>

<style>
@media print {
    [class*="col-md"], [class*="col-sm"], [class*="col-xs"] {
        float: none;
    }
}
</style>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
