{% extends "bootstrap/base.html" %}
{% import "wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

 {% block metas %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
 {% endblock %}

{% block content %}
<div class="container">
  <h1 class="section-title">
    {% block title %}Potvrdenie ku prihláške na vysokoškolské štúdium{% endblock title %}
  </h1>
  <div class="panel panel-default">
    <div class="panel-heading">Údaje o prihláške</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-4 text-center" style="float: right;">
          <img src="{{ url_for('static', filename='img/fmfi-logo.jpg', _external=True) }}" style="height: 150px; width: 150px" alt=""/>
        </div>

        <div class="col-lg-8">
          {% include "application_form_header.html" %}
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Údaje o študentovi</div>
    <div class="panel-body">
      <strong>Meno:</strong> {{ session['basic_personal_data']['name'] }} <br />
      <strong>Priezvisko:</strong> {{ session['basic_personal_data']['surname'] }} <br />
      <strong>Rodné číslo:</strong> {{ session['birth_no'] }} <br />
      <strong>Dátum narodenia:</strong> {{ session['date_of_birth'] }} <br />
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Známky poskytnuté ako súčasť prihlášky</div>
    <div class="panel-body">
      {% include "grade_listing_table.html" %}
    </div>
  </div>

  <div class="panel panel-default" >
    <div class="panel-heading">Potvrdenie o správnosti údajov</div>
    <div class="panel-body">
      <table class="table" cellspacing="5" cellpadding="5">
        <tr>
          <th>Dátum:</th>
          <th>Podpis:</th>
          <th>Pečiatka školy:</th>
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>

<style>
@media print {
    [class*="col-md"], [class*="col-sm"], [class*="col-xs"] {
        float: none;
    }
}
</style>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
