
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{%- endblock styles %}

{% block title %}ePrihlaska{% block append_title %}{% endblock %}{% endblock title %}

{% block navbar %}
{{nav.top.render()}}
{% endblock %}

{% block content %}
<div class="container">
<h1>ePrihlaska</h1>

{{util.flashed_messages(dismissible=True)}}

{% block form %}
{% endblock %}
</div>
{% endblock %}


{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
		<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>

    {% block inlinescript %}
    {% endblock %}

{% endblock %}
