
{% extends "bootstrap/base.html" %}
{% import "wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <style>
   .footer {
     height: 60px;
     line-height: 60px;
     background-color: #f5f5f5;
   }
    </style>
{%- endblock styles %}



{% block navbar %}
{{nav.top.render(renderer='eprihlaska_nav_renderer')}}
{% endblock %}

{% block content %}
<div class="container">
<h1>{% block title %}ePrihlaska{% block append_title %}{% endblock %}{% endblock title %}</h1>

{{util.flashed_messages(dismissible=True)}}

{% block form %}
{% endblock %}
</div>
{% endblock %}


{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block scripts %}
    <footer class="footer">
      <div class="container">
        {% if session['study_programme'] %}
        <span class="text-muted">Prihlasujete sa na študijné programy {{session['study_programme']|join(', ')}}</span>
        {% endif %}
      </div>
    </footer>

    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
		<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>

    {% block inlinescript %}
    {% endblock %}

{% endblock %}
