
{% extends "bootstrap/base.html" %}
{% import "wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{%- block styles %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <style>
    </style>
{%- endblock styles %}

{% block title %}
 {% if section_title %}
  ePrihlaska &middot; {{ section_title }}
 {% else %}
  ePrihlaska
 {% endif %}
{% endblock title %}

{% block navbar %}
{{nav.top.render(renderer='eprihlaska_nav_renderer')}}
{% endblock %}

{% block content %}
<div class="main-wrap">
  <div class="container">
    <h1 class="section-title">{{ section_title }}</h1>

    {{util.flashed_messages(dismissible=True)}}

    {% block form %}
    {% endblock %}
  </div>
</div>
{% endblock %}


{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block scripts %}
    <footer class="footer">
      <div class="container">
        {% if session['study_programme'] %}
        <span>Prihlasujete sa na študijné programy:
          {% for item in session['study_programme'] %}
            <span class="study-programme">{{item}}</span>
          {% endfor %}</span>
        {% endif %}
      </div>
    </footer>

    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
		<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>

    {% block inlinescript %}
    {% endblock %}

{% endblock %}
