{% extends "index.html" %}

{% set section_title = 'Úvodná stránka' %}

{% block form %}

<hr>
<p>
Toto je testovacia verzia elektronickej prihlášky, ktorá nie je v prevádzke.
</p>

<p>
Ak hľadáte aktuálnu elektronickú prihlášku, použite stránku
<a href="https://e-prihlaska.uniba.sk/" target="_blank">https://e-prihlaska.uniba.sk/</a>
</p>

<hr>


<div class="row">
  <div class="col-sm-6">
    <p>
    Vitajte v systéme elektronickej prihlášky Fakulty matematiky, fyziky a informatiky Univerzity Komenského v Bratislave.
    Informácie o študijných programoch nájdete <a href="https://fmph.uniba.sk/studium/programy">na stránke fakulty.</a>
    </p>

    <p>
    Na tejto stránke môžete vyplniť a odoslať elektronickú prihlášku, ktorá je ekvivalentná formám prihlášky zasielaným poštou.
    Na záver vypĺňania prihlášky získate podrobné pokyny ako postupovať ďalej.
    </p>

    <p>
    </p>
  </div>

  <div class="col-sm-6">
  <h4>Prihlásenie a registrácia</h4>

  {% set signup_action = url_for('signup') %}
  {{ wtf.quick_form(form,
                    action=signup_action,
                    form_type='horizontal',
                    button_map={'submit': 'primary'}) }}

  <div class="account__wrap">
    <div class="account col-lg-10 col-lg-offset-2">
      <div class="account__separator">alebo</div>
      <a href="{{ url_for('login') }}" class="btn btn-block btn-red btn-primary">
        Prihlásiť sa pomocou hesla
      </a>
      <a href="{{ url_for('google_login') }}" class="btn btn-block btn-google ">
        <span class="fa fa-google"></span> Prihlásiť cez Google
      </a>
      <a href="{{ url_for('facebook_login') }}" class="btn btn-block btn-facebook ">
        <span class="fa fa-facebook"></span> Prihlásiť cez Facebook
      </a>
    </div>
  </div>

  <style>
    .btn-primary {
      width: 100%;
      display: block;
    }
  </style>

  </div>
</div>

{% endblock %}
