{% extends "index.html" %}

{% set section_title = 'Úvodná stránka' %}

{% block form %}

<hr>
<p>
Toto je testovacia verzia elektronickej prihlášky, ktorá nie je v prevádzke.
</p>

<p>
Ak hľadáte aktuálnu elektronickú prihlášku, použite stránku
<a href="https://e-prihlaska.uniba.sk/" target="_blank">https://e-prihlaska.uniba.sk/</a>
</p>

<p>
Vitajte v systéme elektronickej prihlášky Fakulty matematiky, fyziky a informatiky Univerzity Komenského v Bratislave.
Informácie o študijných programoch nájdete <a href="https://fmph.uniba.sk/studium/programy">na stránke fakulty.</a>
</p>

<p>
Na tejto stránke môžete vyplniť a odoslať elektronickú prihlášku, ktorá je ekvivalentná formám prihlášky zasielaným poštou.
Na záver vypĺňania prihlášky získate podrobné pokyny ako postupovať ďalej.
</p>

<hr>

<h4>Registácia</h4>

  {{ wtf.quick_form(form,
                    action='/signup',
                    form_type='horizontal',
                    button_map={'submit': 'primary'}) }}

  {% include 'social_buttons.html' %}


{% endif %}

{% endblock %}
