{% extends "index.html" %}

{% set section_title = 'Úvodná stránka' %}

{% block form %}

<hr>
<p>
Toto je testovacia verzia elektronickej prihlášky, ktorá nie je v prevádzke.
</p>

<p>
Ak hľadáte aktuálnu elektronickú prihlášku, použite stránku
<a href="https://e-prihlaska.uniba.sk/" target="_blank">https://e-prihlaska.uniba.sk/</a>
</p>

{% if not session['email'] %}

<hr>

<h4>Registácia</h4>

  {{ wtf.quick_form(form,
                    action='/signup',
                    form_type='horizontal',
                    button_map={'submit': 'primary'}) }}

  {% include 'social_buttons.html' %}


{% endif %}

{% endblock %}
