{% extends "index.html" %}

{% set section_title = 'Osobné údaje' %}

{% block form %}
  {{ wtf.quick_form(form,
                    form_type='horizontal',
                    button_map={'submit': 'primary'}) }}
{% endblock %}

{% block inlinescript %}
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        $('#nationality').chosen();

        $('#place_of_birth').chosen({search_contains: true});
        $('#country_of_birth').chosen({search_contains: true});

        if ($('#country_of_birth').val() == '703') {
          $('#place_of_birth_foreign').closest('.form-group').hide();
        } else {
          $('#place_of_birth').closest('.form-group').hide();

        }

        $('#country_of_birth').on('change', function(e){
          if (this.value === '703') {
            $('#place_of_birth_foreign').closest('.form-group').hide();
            $('#place_of_birth').closest('.form-group').show();
          } else {
            $('#place_of_birth_foreign').closest('.form-group').show();
            $('#place_of_birth').closest('.form-group').hide();
          }
        });

      });
    </script>
{% endblock %}
