{% extends "index.html" %}

{% set section_title = 'Študijný program' %}

{% block form %}

<p>
Vitajte v systéme elektronickej prihlášky Fakulty matematiky, fyziky a
informatiky Univerzity Komenského v Bratislave. Pomocou tohto systému sa môžete
prihlásať na bakalárske štúdium. Informácie o študijných programoch nájdete na
stránke <a href="https://fmph.uniba.sk/studium/programy/">https://fmph.uniba.sk/studium/programy/</a>
</p>

<p>
Osobné údaje na tejto stránke sú spracúvané za účelom prijímacieho konania na fakultu na základe
zákona č. 131/2002 o vysokých školách v znení neskorších predpisov.
</p>

  {{ wtf.quick_form(form,
                    form_type='horizontal',
                    button_map={'submit': 'primary'}) }}
{% endblock %}

{% block inlinescript %}
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        $('select').chosen({search_contains: true});
        /* Show or hide dean's invitation letter field */
        if (!$('#study_programme_data-dean_invitation_letter').is(":checked")) {
          $('#study_programme_data-dean_invitation_letter_no').closest('.form-group').hide();
        }

        $('#study_programme_data-dean_invitation_letter').change(function(e) {
          if (this.checked) {
            $('#study_programme_data-dean_invitation_letter_no').closest('.form-group').show();
            $('#study_programme_data-dean_invitation_letter_no').focus();
          } else {
            $('#study_programme_data-dean_invitation_letter_no').closest('.form-group').hide();
          }
        })
      });
    </script>
{% endblock %}
