{% extends "index.html" %}

{% set section_title = 'Študijný program' %}

{% block form %}
  {{ wtf.quick_form(form,
                    form_type='horizontal',
                    button_map={'submit': 'primary'}) }}
{% endblock %}

{% block inlinescript %}
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        $('select').chosen({search_contains: true});
        /* Show or hide dean's invitation letter field */
        if (!$('#study_programme_data-dean_invitation_letter').is(":checked")) {
          $('#study_programme_data-dean_invitation_letter_no').closest('.form-group').hide();
        }

        $('#study_programme_data-dean_invitation_letter').change(function(e) {
          if (this.checked) {
            $('#study_programme_data-dean_invitation_letter_no').closest('.form-group').show();
            $('#study_programme_data-dean_invitation_letter_no').focus();
          } else {
            $('#study_programme_data-dean_invitation_letter_no').closest('.form-group').hide();
          }
        })
      });
    </script>
{% endblock %}
