.control-label {
  font-weight: 100;
  padding-bottom: 5px;
}

.btn {
  display: inline-block;
  height: 36px;
  line-height: 32px;
  padding: 0 14px;
  box-shadow: $box-shadow;
  background-color: transparent;
  border: 3px solid $red3;
  border-radius: 2px;
  font-weight: 600;
  text-transform: uppercase;
  color: $red;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    background-color: $red;
    color: white;
    border-color: $red3;
  }
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.section-title {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

legend label {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
