$red: #8e2128;
$red2: #861d24;
$red3: #de4e58;
$pink: #ff8a92;
$gray: #545e60;
$gray2: #f1e2e3;
$sand: #cfaa7e;
$sand2: #a3835a;
$box-shadow-01: 0 0 24px rgba(0, 0, 0, 0.1);
$box-shadow-02: 0 0 24px rgba(0, 0, 0, 0.2);
