$gap: 15px;

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.help-block {
  font-size: 13px;
}

.control-label {
  font-weight: 500;
  padding-bottom: 5px;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 3px 0;
}

.footer {
  height: 60px;
  line-height: 60px;
  background-color: #535250;
  color: white;
}

.main-wrap {
  background-color: white;
  padding-top: $gap;
}

.navbar {
  min-height: 30px;
  font-size: 13px;
  background: #b3231b;
  background: linear-gradient(#dc3f36, #b3231b);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  padding: 4px;
  margin: 4px;
  counter-reset: menuItemNumber;
}

.navbar-default .navbar-brand {
  font-size: 13px;
  color: white;
  height: auto;
  padding: 10px 15px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  padding: 10px 20px;

  &:before {
    position: absolute;
    top: 12px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 14px;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    content: counter(menuItemNumber);
    counter-increment: menuItemNumber;
  }

  &[href="#"] {
    color: #b5a4a4;
    cursor: default;

    &:before {
      border-color: #b5a4a4;
      color: #b5a4a4;
    }
  }
}

.navbar-default .navbar-nav>.active>a {
  background-color: #e7e7e7;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #dfdfdf;
  }
}

.section-title {
  text-align: center;
  margin-bottom: $gap * 2;
}

.btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 14px;
  box-shadow: 0 0 24px rgba(0, 0, 0, .09);
  background: #b3231b;
  border-radius: 4px;
  border: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover, &:focus {
    background-color: #9c342f;
  }
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 0;
}
